@import "../../styles/colors";
@import "../../styles/breakpoints";
@import "../../styles/shadows";

@keyframes fadeIn {
 0% {
  opacity: 100%;
 }
 50% {
  opacity: 0%;
 }
 100% {
  opacity: 100%;
 }
}

.product {
 width: 100%;
 max-width: 1400px;
 display: grid;
 grid-template-columns: 1.5fr 1fr;
 padding: 8px;
 gap: 8px;

 &__main-image {
  aspect-ratio: 2/3;
  display: flex;
  cursor: pointer;

  img {
   width: 100%;
   height: 100%;
   object-fit: cover;
  }
 }

 &__gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  height: 100%;
 }

 &__gallery-image {
  display: flex;
  aspect-ratio: 2/3;
  cursor: pointer;

  img {
   width: 100%;
   object-fit: cover;
  }

  &:nth-child(3n) {
   grid-column: 1 / span 2;
  }
 }

 &__info {
  display: flex;
  gap: 24px;
  flex-direction: column;
 }

 &__name-wrapper {
  display: flex;
  justify-content: space-between;
 }

 &__name {
  font-weight: 500;
 }

 &__favourite-button {
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;

  svg {
   width: 100%;
   color: $white;
   stroke: $black;
   cursor: pointer;

   &.added {
    color: $black;
   }
  }
 }

 &__price {
  font-weight: 500;
 }

 &__sizes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
  column-gap: 8px;
  row-gap: 4px;

  span {
   font-weight: 500;
   font-size: 13px;
   grid-column: 1/ -1;
  }
 }

 &__size {
  height: 32px;
  cursor: pointer;
  border: 1px solid $grey;

  &:hover {
   background-color: $black;
   color: $white;
  }

  &.chosen {
   background-color: $black;
   color: $white;
  }
 }

 &__amount {
  display: grid;
  grid-template-columns: repeat(3, min-content);

  span {
   font-weight: 500;
   font-size: 13px;
   grid-column: 1/ -1;
  }
 }

 &__amount-button {
  border-radius: none;
  cursor: pointer;
  border: 1px solid $black;
  background-color: $black;
  color: $white;
  width: 32px;
  height: 32px;
  cursor: pointer;
 }

 &__amount-number {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid $black;
  border-bottom: 1px solid $black;
  background-color: $pureWhite;
  width: 32px;
  height: 32px;
 }

 &__buy-button {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: none;
  background-color: $black;
  color: $white;
  padding: 8px;
  width: 100%;
  cursor: pointer;

  svg {
   width: 16px;
  }
 }

 &__similar-products {
  grid-column: 1 / span 2;
  display: flex;
  flex-direction: column;
  gap: 8px;
 }

 &__similar-products-header {
  font-size: 24px;
  font-weight: 500;
  margin-top: 32px;

  @media (max-width: $mobileVertical) {
   font-size: 16px;
  }
 }
}
