@import "../../styles/colors";

.product {
 display: grid;
 padding: 32px 16px 64px 16px;
 grid-template-columns: 2fr 1fr;
 gap: 16px;

 .product-gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 16px;

  &__images-small {
   display: flex;
   flex-direction: column;
   gap: 16px;
  }

  &__image-small {
   aspect-ratio: 2/3;
   gap: 16px;
   box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
   filter: brightness(75%);
   transition: all 0.3s;
   cursor: pointer;

   &:hover,
   &.active {
    filter: brightness(100%);
   }
  }

  &__image-main {
   width: 100%;
   box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  }

  img {
   width: 100%;
   height: 100%;
   object-fit: cover;
  }
 }

 .product-info {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__sizes {
   display: flex;
   gap: 8px;
  }

  &__size {
   height: 24px;
   width: 24px;
   border: 1px solid grey;
   background-color: $white;
   color: grey;
   cursor: pointer;
   opacity: 70%;

   &:hover,
   &.chosen {
    opacity: 100%;
    border: 1px solid black;
    background-color: white;
    color: black;
   }
  }

  &__amount {
   display: flex;

   &--button {
    min-width: 32px;
    height: 32px;
    background-color: $black;
    color: $white;
    border: none;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
     transform: scale(103%);
    }

    &:disabled {
     opacity: 50%;
    }
   }

   &--number {
    border: 1px solid $black;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 32px;
    padding: 0 4px;
    height: 32px;
   }
  }

  &__buy-button {
   background-color: $black;
   color: $white;
   padding: 8px;
   cursor: pointer;
   transition: all 0.3s;

   &:hover {
    transform: scale(105%);
   }

   &:disabled {
    opacity: 50%;
   }
  }
 }

 .product-description {
  grid-column: 1 / span 2;
 }
}
