@import "../../styles/colors";
@import "../../styles/breakpoints";
@import "../../styles/shadows";

// Mixin for small image styles
@mixin smallImageStyles {
 aspect-ratio: 2/3;
 display: flex;
 justify-content: center;
 align-items: center;
 cursor: pointer;
 filter: brightness(80%);
 box-shadow: $small-box-shadow;
 transition: all 0.3s;

 &:hover,
 &.active {
  filter: brightness(100%);
 }
}

// Mixin for button styles
@mixin buttonStyles {
 min-width: 32px;
 height: 32px;
 cursor: pointer;
 border: none;
 transition: all 0.3s;
 display: flex;
 justify-content: center;
 align-items: center;

 &:disabled {
  opacity: 50%;
 }

 &:hover {
  transform: scale(103%);
 }
}

// Main product styles
.product {
 display: grid;
 padding: 32px 16px 64px 16px;
 grid-template-columns: 2fr 1fr;
 gap: 16px;
 position: relative;

 @media (max-width: $mobileVertical) {
  grid-template-columns: 1fr 4fr;
  padding: 8px;
 }

 // Product Gallery
 .product-gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 8px;

  @media (max-width: $tablet) {
   grid-template-columns: auto 1fr;
  }

  // Small Images Section
  &__small-images {
   display: flex;
   flex-direction: column;
   overflow-y: auto;
   gap: 8px;
   padding: 8px;
   max-height: 800px;

   @media (max-width: $tablet) {
    display: none;
   }
  }

  // Small Image Styles
  &__small-image {
   @include smallImageStyles;
   aspect-ratio: 2/3;
   width: 100%;
   box-shadow: $small-box-shadow;
   cursor: pointer;

   img {
    width: 100%;
    height: 100%;
    object-fit: cover;
   }
  }

  // Main Image Wrapper
  &__main-image-wrapper {
   min-height: 300px;
   max-height: 800px;
   padding: 8px;
  }

  // Main Image Styles
  &__main-image {
   aspect-ratio: 2/3;
   height: 100%;
   box-shadow: $small-box-shadow;
   cursor: pointer;

   img {
    width: 100%;
    height: 100%;
    object-fit: cover;
   }
  }

  // Scrollbar Styles
  ::-webkit-scrollbar {
   width: 8px;
  }

  ::-webkit-scrollbar-track {
   background: transparent;
  }

  ::-webkit-scrollbar-thumb {
   background: #777;
   border-radius: 50px;
  }

  ::-webkit-scrollbar-thumb:hover {
   background: #999;
  }
 }

 // Product Information Section
 .product-info {
  display: flex;
  flex-direction: column;

  &__name {
   margin-bottom: 8px;
  }

  &__rating,
  &__price {
   margin-bottom: 8px;
  }

  // Product Sizes Section
  &__sizes {
   display: flex;
   gap: 8px;
   margin-bottom: 16px;
  }

  // Size Button Styles
  &__size {
   height: 24px;
   width: 24px;
   border: 1px solid grey;
   background-color: $white;
   color: grey;
   cursor: pointer;
   opacity: 70%;

   &:hover,
   &.chosen {
    opacity: 100%;
    border: 1px solid $pureBlack;
    background-color: $pureWhite;
    color: $pureBlack;
   }
  }

  // Product Amount Section
  &__amount {
   display: flex;
   margin-bottom: 16px;

   // Amount Button Styles
   &--button {
    @include buttonStyles;
    background-color: $black;
    color: $white;
   }

   // Amount Display Styles
   &--number {
    border: 1px solid $black;
    background-color: $pureWhite;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 32px;
    padding: 0 4px;
    height: 32px;
   }
  }

  // Action Buttons Section
  &__buttons {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 16px;
  }

  // Buy Button Styles
  &__buy-button {
   @include buttonStyles;
   background-color: $black;
   color: $white;
   padding: 8px;
  }

  // Favourite Button Styles
  &__favourite-button {
   background-color: $pureWhite;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 4px;
   border-radius: 50%;
   border: none;
   box-shadow: $small-box-shadow;
   cursor: pointer;

   svg {
    color: $pureWhite;
    stroke: $pureBlack;
    width: 24px;
    height: 24px;
   }

   .added {
    color: $pureBlack;
   }
  }
 }

 // Product Description Section
 .product-description {
  grid-column: 1 / span 2;
 }
}

// Fullscreen Gallery Styles
.product-fullscreen-gallery {
 background-color: rgba(0, 0, 0, 0.2);
 backdrop-filter: blur(2px);
 z-index: 1;
 width: 100%;
 height: 100vh;
 position: fixed;
 padding-top: 60px;
 top: 0;
 left: 0;
 padding-bottom: 16px;

 // Main Image Wrapper
 &__main-image-wrapper {
  padding: 32px;
  height: 80%;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
 }

 // Main Image Styles
 &__main-image {
  aspect-ratio: 2/3;
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: $small-box-shadow;
 }

 // Close Button Styles
 &__close-button {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 8px;

  svg {
   height: 30px;
   cursor: pointer;
  }
 }

 // Small Images Section
 &__small-images {
  overflow-x: scroll;
  height: 20%;
  width: 100%;
  padding: 16px 32px;
  min-height: 100px;
  display: flex;
  justify-content: safe center;
  align-items: center;
  z-index: 3;
  gap: 16px;
 }

 // Small Image Styles
 &__small-image {
  @include smallImageStyles;
  height: 100%;
 }

 img {
  height: 100%;
  width: 100%;
 }

 // Scrollbar Styles
 ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
 }

 ::-webkit-scrollbar-track {
  background: transparent;
 }

 ::-webkit-scrollbar-thumb {
  background: #777;
  border-radius: 50px;
 }

 ::-webkit-scrollbar-thumb:hover {
  background: #999;
 }
}
