@import "../../styles//breakpoints";
@import "../../styles//colors";

.alert-window {
 background-color: $pureWhite;
 display: flex;
 align-items: center;
 flex-direction: column;
 gap: 16px;
 padding: 8px;

 &__title {
  padding: 8px 64px;
  text-align: center;
  font-weight: 500;
 }

 &__image {
  width: 100px;

  display: flex;
  justify-content: center;
  align-items: center;

  img {
   width: 100%;
   height: 100%;
  }
 }

 &__buttons {
  width: 100%;
  gap: 8px;
  display: flex;
 }

 &__button {
  border: none;
  color: $pureBlack;
  padding: 8px;
  width: 50%;
  cursor: pointer;
  transition: all 0.3s;

  &:hover,
  :focus-visible,
  :active,
  :focus,
  :focus-within {
   background-color: $pureBlack;
   color: $pureWhite;
  }
 }
}

.alert-window-shadow {
 z-index: 4;
 background-color: rgba(0, 0, 0, 0.1);
 width: 100%;
 height: 100vh;
 position: fixed;
 padding: 32px;
 top: 0;
 left: 0;
 display: flex;
 justify-content: center;
 align-items: center;
}
