@import "../../styles/colors";
@import "../../styles//breakpoints";

.cart-tile {
 width: 100%;
 display: flex;
 flex-direction: column;
 box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
 padding: 16px;
 position: relative;

 @media (max-width: $mobileVertical) {
  padding: 8px;
  font-size: 14px;
 }

 &__remove-button {
  width: 24px;
  position: absolute;
  top: 16px;
  right: 16px;

  @media (max-width: $mobileVertical) {
   width: 16px;
   top: 8px;
   right: 8px;
  }

  svg {
   cursor: pointer;
  }
 }

 &__image {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: $mobileVertical) {
   width: 72px;
  }

  img {
   width: 100%;
  }
 }

 &__name {
  font-weight: 600;
 }

 &__price {
  font-weight: 500;
 }

 &__sizes {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px 0;
 }

 &__size {
  display: flex;
  gap: 8px;

  @media (max-width: $mobileVertical) {
   gap: 0;
  }
 }

 &__size-name {
  display: flex;
  width: 24px;
 }

 &__amount {
  border: 1px solid $pureBlack;
 }

 &__total {
  span {
   &:nth-child(2) {
    font-weight: 600;
   }
  }
 }
}
