@import "../../styles/colors";
@import "../../styles/breakpoints";
@import "../../styles/shadows";

// Favourites component styling
.favourites {
 width: 100%;
 height: 100%;
 padding: 16px;
 display: flex;
 flex-direction: column;
 gap: 16px;
}

// Styling for individual favourite tiles
.favourites-tile {
 background-color: $pureWhite;
 box-shadow: $small-box-shadow;
 display: flex;
 gap: 8px;
 padding: 8px;
 position: relative;

 // Styling for the image wrapper
 &__image-wrapper {
  width: 72px;

  // Styling for the image within the wrapper
  img {
   width: 100%;
   height: 100%;
  }
 }

 // Styling for the favourite button
 &__favourite-button {
  background-color: $pureWhite;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;

  // Styling for the heart icon
  svg {
   width: 24px;
   height: 24px;
   color: $pureBlack;
   transition: all 0.3s;

   // Hover effect
   &:hover {
    stroke: $pureBlack;
    color: $pureWhite;
   }
  }
 }
}
