@import "../../styles/colors";
@import "../../styles/breakpoints";
@import "../../styles/shadow";

.cart {
 width: 100%;
 display: grid;
 grid-template-columns: 1.5fr 1fr;
 padding: 8px;
 gap: 8px;
 max-width: 1400px;

 @media (max-width: $mobileHorizontal) {
  grid-template-columns: 1fr 1fr;
 }

 .products {
  display: flex;
  flex-direction: column;
  gap: 8px;
 }

 .empty-cart-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: $grey;
  text-align: center;

  @media (max-width: $mobileVertical) {
   font-size: 16px;

   svg {
    height: 36px;
   }
  }

  svg {
   height: 72px;

   @media (max-width: $mobileVertical) {
    height: 36px;
   }
  }
 }

 .summation {
  width: 100%;
  background-color: $pureWhite;
  box-shadow: $small-box-shadow;
  padding: 16px;
  font-size: 16px;
  height: max-content;

  @media (max-width: $mobileVertical) {
   padding: 8px;
   font-size: 12px;
  }

  &__subsection {
   width: 100%;
   display: flex;
   justify-content: space-between;
   padding: 8px 0;

   @media (max-width: $mobileVertical) {
    padding: 4px 0;
   }

   &:nth-child(2) {
    margin-bottom: 16px;
    border-bottom: 1px solid grey;
   }

   span {
    &:nth-child(2) {
     font-weight: 600;
    }
   }
  }

  &__buttons {
   display: flex;
   width: 100%;
   flex-direction: column;
   gap: 8px;
  }

  &__button {
   background-color: $pureBlack;
   color: $pureWhite;
   padding: 8px;
   font-weight: 500;
   border: none;
   cursor: pointer;
   transition: all 0.3s;

   @media (max-width: $mobileVertical) {
    padding: 4px;
    font-size: 12px;
   }

   &:first-child {
    &:hover {
     transform: scale(103%);
    }

    &:disabled {
     opacity: 50%;
     cursor: not-allowed;
     transform: none;
    }
   }

   &:nth-child(2) {
    background-color: transparent;
    border: 1px solid $pureBlack;
    color: $pureBlack;

    &:hover {
     background-color: $pureBlack;
     color: $pureWhite;
    }
   }
  }
 }
}
