@import "../../styles/colors";

.cart {
 width: 100%;
 display: grid;
 grid-template-columns: 1.5fr 1fr;
 padding: 16px;
 gap: 16px;

 .products {
  display: flex;
  flex-direction: column;
  gap: 16px;
 }

 .empty-cart-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: $grey;
  text-align: center;

  svg {
   height: 72px;
  }
 }

 .summation {
  width: 100%;
  background-color: $pureWhite;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 16px;
  height: max-content;

  &__subsection {
   width: 100%;
   display: flex;
   justify-content: space-between;
   padding: 8px 0;

   &:nth-child(2) {
    margin-bottom: 16px;
    border-bottom: 1px solid grey;
   }

   span {
    &:nth-child(2) {
     font-weight: 600;
    }
   }
  }

  &__buttons {
   display: flex;
   width: 100%;
   flex-direction: column;
   gap: 8px;
  }

  &__button {
   background-color: $pureBlack;
   color: $pureWhite;
   padding: 8px;
   font-weight: 500;
   border: none;
   cursor: pointer;
   transition: all 0.3s;

   &:first-child {
    &:disabled {
     opacity: 50%;
     cursor: not-allowed;
    }

    &:hover {
     transform: scale(103%);
    }
   }

   &:nth-child(2) {
    background-color: transparent;
    border: 1px solid $pureBlack;
    color: $pureBlack;

    &:hover {
     background-color: $pureBlack;
     color: $pureWhite;
    }
   }
  }
 }
}
