@import "../../styles/colors";

.banner {
 height: clamp(200px, 50vw, 500px);
 background-color: grey;
 display: flex;
 align-items: center;
 justify-content: center;

 img {
  object-fit: cover;
  height: 100%;
  width: 100%;
 }
}

.main {
 padding: 16px;
}

.section {
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(162px, 1fr));
 gap: 16px;
}

.title {
 font-weight: 600;
 color: $black;
 margin: 0;
 padding: 32px 0 16px 0;
}
