@import "../../styles/colors";
@import "../../styles/breakpoints";
@import "../../styles/shadows";

@mixin arrowButtonStyles {
 position: absolute;
 display: flex;
 padding: 16px;
 background-color: rgba(255, 255, 255, 0.5);
 cursor: pointer;
 transition: all 0.3s;
 box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
 z-index: 3;

 &:hover {
  background-color: $pureWhite;
 }

 @media (max-width: $mobileHorizontal) {
  padding: 6px;
 }

 svg {
  width: 30px;
  height: 30px;

  @media (max-width: $mobileHorizontal) {
   width: 30px;
   height: 30px;
  }
 }
}

.product {
 &__similar-products-wrapper {
  position: relative;
  display: flex;
  gap: 32px;
  align-items: center;
 }

 &__left-arrow-button {
  left: 16px;
  @include arrowButtonStyles();
 }

 &__right-arrow-button {
  right: 16px;
  @include arrowButtonStyles();
 }

 &__similar-products-list {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  overflow-x: scroll;
  gap: 8px;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
 }

 &__similar-products-list::-webkit-scrollbar {
  display: none;
 }
}

.hidden {
 display: none;
}
