.tile {
 &__imageWrapper {
  width: 100%;
  aspect-ratio: 2/3;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
 }

 &__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
 }
}
