@import "../../styles/colors";
@import "../../styles/shadows";
@import "../../styles/breakpoints";

.search {
 padding: 16px;
 display: grid;
 grid-template-columns: 1fr 3fr;
 gap: 16px;

 .query {
  grid-column: 1 / 2 span;
 }

 .filters {
  min-width: 280px;
  display: flex;
  flex-direction: column;
  background-color: $pureWhite;
  box-shadow: $small-box-shadow;

  &__submit-button {
   background-color: $pureBlack;
   color: $pureWhite;
   border: none;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 16px 16px;
   width: 100%;
   align-self: center;
   cursor: pointer;
   transition: background-color 0.3s ease;

   &:hover {
    background-color: darken($pureBlack, 10%);
   }
  }
 }

 .section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(162px, 1fr));
  gap: 16px;
 }

 .search-sort-container {
  padding: 16px;
  background-color: $pureWhite;
  width: 100%;
  box-shadow: $small-box-shadow;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: space-between;

  &__input-wrapper {
   display: flex;
   align-items: center;
   border-radius: 50px;
   background-color: $pureWhite;
   border: 1px solid $grey;
   padding: 8px;
   gap: 8px;
   width: 100%;

   &:focus-within {
    outline: 1px solid $pureBlack;
   }

   input {
    border: none;
    background-color: transparent;
    width: 100%;

    &:focus {
     outline: none;
    }
   }
  }

  &__search-icon {
   width: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
  }

  &__sort-icon {
   height: 24px;
   display: flex;
   align-items: center;
   justify-content: center;

   svg {
    height: 100%;
    cursor: pointer;
   }
  }
 }
}
