@import "../../styles/colors";
@import "../../styles/breakpoints";

%align-center {
 display: flex;
 align-items: center;
}

$navbar-background: $white;
$navbar-height: 60px;
$navbar-content-width: 1400px;
$navbar-max-width: 800px;
$navbar-logo-color: $black;

.navbar {
 background-color: $navbar-background;
 height: $navbar-height;
 position: sticky;
 top: 0;
 display: flex;
 justify-content: center;
 z-index: 10;
 box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

 a {
  text-decoration: none;
  color: $black;
 }

 &__shadow {
  width: 100%;
  height: calc(100vh - 60px);
  background-color: #00000050;
  backdrop-filter: blur(2px);
  position: absolute;
  top: 60px;
  left: 0px;
  transition: all 0.3s;
 }

 &__content {
  @extend %align-center;
  justify-content: space-between;
  padding: 8px;
  gap: 32px;
  width: $navbar-content-width;
 }

 &__logo-wrapper {
  @extend %align-center;
  gap: 8px;
 }

 &__bars {
  height: 30px;
  display: none;

  @media (max-width: $mobileHorizontal) {
   display: flex;
  }
 }

 &__logo {
  color: $navbar-logo-color;
 }

 &__menu--form {
  width: 100%;
 }

 &__menu--search-input {
  width: 100%;
  border-radius: 15px;
  padding: 2px 8px;
  border: 1px solid $black;
 }

 &__menu--links {
  @extend %align-center;
  gap: 32px;
  cursor: pointer;

  @media (max-width: $mobileHorizontal) {
   display: none;
  }

  .active {
   border-bottom: 1px solid black;
  }
 }

 &__menu--buttons {
  @extend %align-center;
  gap: 16px;
  cursor: pointer;
 }

 &__menu--button {
  @extend %align-center;
  width: 20px;
  position: relative;

  .item-count {
   background-color: red;
   color: $pureWhite;
   font-size: 10px;
   height: 14px;
   width: 14px;
   display: flex;
   justify-content: center;
   border-radius: 50%;
   align-items: center;
   position: absolute;
   top: -5px;
   right: -5px;
  }
 }
}
