@import "../../styles/colors";
@import "../../styles/shadows";
@import "../../styles/breakpoints";

.search {
 padding: 16px;
 display: grid;
 grid-template-columns: 1fr 3fr;

 gap: 16px;

 .query {
  grid-column: 1 / 2 span;
 }

 .filters {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: $pureWhite;
  box-shadow: $small-box-shadow;
  padding: 16px;

  &__price {
   display: flex;
   flex-direction: column;
   gap: 16px;
  }

  &__price--values-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
  }

  &__price--field {
   display: flex;
   gap: 8px;
   padding: 4px 8px;
   border: 1px solid grey;
   border-radius: 5px;

   &:focus-within {
    outline: 1px solid black;
   }

   input {
    width: 40px;
    border: none;

    &:focus {
     outline: none;
    }
   }
  }

  &__submit-button {
   background-color: $pureBlack;
   color: $pureWhite;
   border: none;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 8px 16px;
   width: max-content;
   align-self: flex-end;
   cursor: pointer;
   transition: background-color 0.3s ease;

   &:hover {
    background-color: darken($pureBlack, 10%);
   }
  }
 }

 .section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(162px, 1fr));
  gap: 16px;
 }
}
