@import "../../styles/colors";

.footer {
 background-color: $darkGrey;
 color: $pureWhite;
 width: 100%;
 display: flex;
 justify-content: center;
 margin-top: 32px;

 &__container {
  max-width: 1400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px 16px 16px 16px;
  gap: 64px;
  font-size: 1rem;

  @media (max-width: 768px) {
   justify-content: center;
  }
 }

 &__main {
  display: grid;
  grid-template-columns: 1fr auto auto auto;
  gap: 32px;

  @media (max-width: 768px) {
   grid-template-columns: 1fr 1fr 1fr;
  }
 }

 &__main--section-description {
  @media (max-width: 768px) {
   grid-column: 1 / span 3;
  }
 }

 &__additional {
  width: 100%;
  display: flex;
  justify-content: space-between;

  &--links {
   display: flex;
   gap: 16px;
  }
 }

 svg {
  height: 24px;
  width: 24px;
  color: $grey;
  margin: 8px;

  &:hover {
   color: $white;
   cursor: pointer;
  }
 }

 li {
  list-style-type: none;
  color: $grey;
 }

 p {
  color: $grey;
 }

 a {
  &:hover {
   color: $white;
   cursor: pointer;
  }
 }
}
